# runtime data
data/*
!data/.gitkeep

# private site configs
sites/local.json
sites/*.local.json

# private local secrets
.private/*
!.private/.gitkeep
!.private/*.example

# python junk
__pycache__/
*.pyc

# editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
